@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.section-title {
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;

}

.section-text {
    font-size: 20px;
    line-height: 30px;
}

.container {
    max-width: 1300px;
    padding: 100px 15px;
    margin: 0 auto;
}

.menu {
    background-color: rgb(18, 18, 18);
    height: 100px;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.menu-elements {
    float: right;

}

.element {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    display: inline-block;
}

.element:hover {
    transform: scale(1.02);
    color: #fe891e;
}

.header {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: max-content;
}

.header-title {
    color: white;
    text-shadow: 10px 10px 0 rgb(223, 97, 97);
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 60px;
}

.header-btn,
.footer-btn {
    text-decoration: none;
    background: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 30px;
    border-radius: 40px;
    box-shadow: 10px 10px 0 rgb(223, 97, 97);

}

.header-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(rgb(222, 133, 127), rgb(253, 198, 149));
}

.circle1 {
    position: absolute;
    top: -100px;
    left: -50px;
    animation: rotate-move 10s linear 0s infinite;
}

.circle2 {
    position: absolute;
    top: -40px;
    right: -40px;
    animation: move-left-down 10s linear 0s infinite;
}

.circle3 {
    position: absolute;
    bottom: -30px;
    left: -50px;
    animation: move-up-left 8s linear 0s infinite;
}

.circle-bordered {
    position: absolute;
    bottom: -30px;
    left: 250px;
    animation: move-right 15s linear 0s infinite;
}

.circle-dashed-border {
    position: absolute;
    bottom: -180px;
    right: -100px;
    animation: rotation 10s linear 0s infinite;
}

.octagon {
    position: absolute;
    top: 65%;
    left: 50%;
    animation: rotate-move 10s linear 0s infinite alternate-reverse;
}

.triangle {
    position: absolute;
    top: 20%;
    left: 40%;
    animation: move-right 25s linear 0s infinite;
}


@keyframes move-up-left {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(40px, 80px);
    }

    100% {
        transform: translate(0, 0);
    }

}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@keyframes move-right {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(230%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes rotate-move {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(80px, 200px) rotate(180deg);
    }

    100% {
        transform: translate(0, 0) rotate(359deg);
    }
}

@keyframes move-left-down {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(-180px, 200px) rotate(180deg);
    }

    100% {
        transform: translate(0, 0) rotate(359deg);
    }
}

.doing {
    background: linear-gradient(8deg, rgb(218, 127, 126), rgb(251, 194, 148) 70%, rgb(255, 255, 255) 70%);
    text-align: center;
}

.doing-left {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.doing-text {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 0 rgb(223, 97, 97);
}

.doing-right {
    width: 49%;
    display: inline-block;
    padding-left: 10px;
}

.doing-img {
    width: 100%;
}

.services {
    background: linear-gradient(160deg, rgb(218, 127, 126) 50%, rgb(255, 255, 255) 50%);
    text-align: center;
}

.services-section-title {

    color: rgb(255, 255, 255);
}

.services-cards {
    background: white;
    border-radius: 15px;
    margin: 10px;
    border: 3px solid rgb(254, 200, 150);
    padding: 20px;
    width: 30%;
    display: inline-block;
    height: 500px;
    vertical-align: top;
}

.services-cards hr {
    border: 1px solid rgb(218, 127, 126);
    width: 60%;
    margin: 10px auto;

}


.services-title {
    font-size: 25px;
    margin-top: 30px;
}



.advantages {
    position: relative;
    overflow: hidden;
}

.advantages-card {
    border: 3px solid rgb(254, 200, 150);
    border-radius: 10px;
    box-shadow: 10px 10px 0 rgb(223, 97, 97);
    margin: 30px auto;
    background: white;
    width: 60%;
    padding: 20px;
    position: relative;
}

.adv-1 {
    transform: translateX(-20%);
}

.adv-2 {
    transform: translateX(15%);
}

.adv-3 {
    transform: translateX(-10%);
}

.advantages-card-title {
    font-size: 25px;
    margin-bottom: 10px;
}

.advantages-list {
    margin-left: 20px;
    list-style: circle;
}

.advantages-list-item {}

.advantages-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.advantages-bg1 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.advantages-bg2 {
    position: sticky;
    left: 0;
    top: 100px;
}

.portfolio {}

.portfolio-content {
    height: 600px;
    width: 100%;
}

.portfolio-mobile {
    display: none;
}

.portfolio-content td {
    border: 4px solid rgb(223, 97, 97);
    border-radius: 20px;
    transition: 1s;
}

.portfolio-content td:hover {
    transform: scale(.9);

}

.portfolio-1 {
    background: url("img/portfolio/site1.png") center/cover no-repeat;
}

.portfolio-2 {
    background: url("img/portfolio/site2.png") center/cover no-repeat;
}

.portfolio-3 {
    background: url("img/portfolio/site3.png") center/cover no-repeat;
}

.portfolio-4 {
    background: url("img/portfolio/site4.png") center/cover no-repeat;
}

.footer {
    background: linear-gradient(rgb(222, 133, 127), rgb(253, 198, 149));
    text-align: center;
    padding: 100px 0;
}

@media (max-width:768px) {
    .menu {
        height: auto;

    }

    .element {
        display: block;
        margin-bottom: 10px;
    }

    .header-content{
        top: 60%;
    }
     .header-title {
        font-size: 50px;
    }

    .section-title {
        font-size: 30px;
    }

    .section-text {
        font-size: 16px;
    }

    .services-title {
        font-size: 21px;

    }

    .services-cards {
        width: 100%;
        margin: 10px auto;
    }

    .advantages-card-title {
        font-size: 21px;
    }

    .advantages-card {
        transform: translateX(0);
        width: 80%;
    }

    .portfolio-content {
        display: none;
    }

    .portfolio-mobile {
        display: block;
    }

    .portfolio-mobile-card {
        height: 300px;
        border: 4px solid rgb(223, 97, 97);
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .doing-left,
    .doing-right {
        width: 100%;
    }

    .doing-right {
        padding-top: 50px;
    }
}

@media (max-width:426px) {
    .header-content {
        width: auto;
    }

    .header-btn,
    .footer-btn {
        font-size: 12px;
    }
}
